header {
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    box-shadow: 0 8px 30px #b700ff;

    padding: 12px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1126px;
    margin: 0 auto;
}

nav li{
    font-size: 20px;
}

.Yeigen {
    margin: 0;
    font-size: 30px;
    transition: transform 0.3s;
}


.Yeigen:hover {
    color: #b700ff;
    text-shadow: 0 0 15px #b700ff;
    transform: scale(1.2);

}

.nav-links {
    font-family: "Zen Dots";
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .nav-links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-links a {
  color: #aa3bff;
  font-family: var(--sans);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: inline-block;
}

.nav-links a:hover {
    color: #ffffff;
    text-shadow: 0 0 15px #b700ff;
    transform: scale(1.2);
}

.hamburger {
    display: none;
    border: none;
    background: none;
}

.hamburger span {
    display: block;
    height: 10px;
    background: linear-gradient(0deg, #7a5af8, #7a5af8);;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none;
    padding: 10px 10px;
    font-family: var(--sans);
    text-shadow: 0 4px 4px #000000;
    border-radius: 10%;
    justify-content: center;
    cursor: pointer;
}

.hamburger[aria-expanded="true"] span:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
}

@media screen and (max-width: 680px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .nav-menu.open {
    grid-template-rows: 1fr;
  }

  .nav-menu ul {
    flex-direction: column;
    overflow: hidden;
  }
}