.social-icons svg {
    width:  1.2rem;
    height: 1.2rem;
    transition: transform 0.3s;
    vertical-align: middle;
}

.social-icons svg:hover {
    transform: scale(1.2);

}

.social-icons{

    display: flex;
    gap: 15px;
}
