
.social-icons svg {
    width:  1.2rem;
    height: 1.2rem;
    transition: transform 0.3s;
    vertical-align: middle;
}

.tech-icons svg{
    width:  clamp(1.8rem, 4vw, 3rem);
    height: 3rem;
}

.tech-icons svg:hover,
.social-icons svg:hover {
    transform: scale(1.2);

}

.tech-icons
{
    gap: 15px;
    display: flex;
    padding: 8px;
    
}

.social-icons{
    display: flex;
    gap: 15px;
    justify-content: center;
    justify-items: center;
}
