@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Zen+Dots&display=swap');

:root {
  --text: #7300ff;
  --text-h: #08060d;
  --border: #ffffff;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(191, 0, 255, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Zen Dots";
  --heading: "Press Start 2P";
  --mono: "Press Start 2P";

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d27dea;
    --text-h: #c0b2ff;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0,0,0, 50%);
}


#root::before{
  background-image: url("https://wallpaper.forfun.com/fetch/1b/1beb74db53e8982f9004d757d1bf7f85.jpeg");
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  z-index: -1;
  content: '';
  filter: blur(5px);
}

body {
  margin: 0;
}

h1
{
  font-family: var(--heading);
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  border: solid;
  border-radius: 50%;
  text-shadow: 0 4px 4px #ffffff;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  box-shadow: 0 4px 4px #541edf;
  border-radius: 50%;
  text-shadow: 0 1px 1px #000000;
  padding: 10px;
}

p {
  color: #ffffff;
  text-shadow: 0 0 8px #08060d;
  margin: 0 auto;
  font-family: var(--sans);
}

figcaption {
  font-family: var(--sans);
  font-size: clamp(0.9rem, 25vw, 1.2rem);
  color: #ffffff;
  text-shadow: 0 4px 4px #08060d;
  margin-top: 10px;
  transition: 1s;
  text-align: center;
}

figcaption:hover{
  transform: scale(1.2);
  text-shadow: none;
  color: #7300ff;

}

ul, li, a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
